--extra-index-url https://download.pytorch.org/whl/cpu

streamlit>=1.39.0
groq>=0.13.0
python-dotenv>=1.0.1
audio-recorder-streamlit
soundfile
torch>=2.9.0+cpu
torchaudio>=2.9.0+cpu
torchvision
kokoro==0.9.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl


